<hr class="paragraph-break">

<p class="container__inner text--meta u-text-center">
  To get the latest insight on the future of creative agencies delivered directly to your inbox, leave your email  below.
</p>

<div class="email-capture u-margin-Tl u-margin-Bl">
  <form action="//formspree.io/hello@anothertompetty.com"
        method="POST">
    <input type="email" name="_replyto" placeholder="email@example.com">
    <input type="submit" value="Send">
  </form>
</div>