<!DOCTYPE html>
  <head>
    <title>Minale & London</title>
    <meta name="description" content="Your magic property investing service.">
    <meta name="author" content="Minale & London">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    
    <div class="header">
      <div class="header__offset">
        <span class="header__menu u-text-right u-margin-Rl">
          <a href="#about" class="u-text-upper link--plain">About</a>
          <a href="#service" class="u-text-upper link--plain u-margin-Ll">Service</a>
        </span>
        <img src="img/logo.svg" class="header__logo">
        <span class="header__menu u-margin-Ll">
          <a href="#contact" class="u-text-upper link--plain u-margin-Rl">Contact</a>
          <a href="#experience" class="u-text-upper link--plain">Experience</a>
        </span>
      </div>
    </div>
