    <div class="footer text--meta u-text-center u-padding-Tl u-padding-Bl">
      &copy; <a href="http://minaleandlondon.com">Minale & London</a> 2015
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>