<!DOCTYPE html>
  <head>
    <title>Design Club</title>
    <meta name="description" content="Where the creative community figure out what's next">
    <meta name="author" content="Design Club">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    
    <div class="header">
      <img src="img/logo-small.svg" class="header__logo">
      <span class="header__menu u-pull-end">
        <a href="#speakers" class="u-margin-Rl">Speakers</a>
        <a href="#sponsor" class="u-margin-Rl">Sponsors</a>
        <a href="#venue" class="u-margin-Rl">Venue</a>
        <a href="#mailing-list" class="u-margin-Rl">Mailing list</a>
        <a href="https://www.eventbrite.co.uk/e/design-club-2-tickets-26136393657" 
        target="_blank" class="u-text-heavy">Get tickets for 30 June &rarr;</a>
      </span>
    </div>
