<!DOCTYPE html>
  <head>
    <title>Minale & London</title>
    <meta name="description" content="Your magic property investing service.">
    <meta name="author" content="Minale & London">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    
    <div class="header">
      <img src="img/logo-small.svg" class="header__logo">
      <span class="header__menu u-pull-end">
        <a href="#about" class="u-margin-Rl">About</a>
        <a href="#speakers" class="u-margin-Rl">Speakers</a>
        <a href="#sponsor" class="u-margin-Rl">Sponsors</a>
        <a href="#venue" class="u-margin-Rl">Venue</a>
        <a href="#mailing-list">Mailing list</a>
      </span>
    </div>
