<div class="site-wrapper u-margin-Tl">
  <footer class="u-padding-Vl">
    <p class="footer__text text-center text-heavy u-margin-Bs">Follow us on twitter at <a href="https://twitter.com/_designclub" target="_blank">@_DesignClub</a>.</p>
    <p class="footer__text text-center u-margin-Bs">Design Club is brought to you by 
    <a href="http://tom.pe" target="_blank">Tom Petty</a>, 
    <a href="http://camillagrey.com" target="_blank">Camilla Grey</a>, 
    <a href="https://twitter.com/thesamwillis" target="_blank">Sam Willis</a>, and 
    <a href="https://twitter.com/charlotteclancy" target="_blank">Charlotte Clancy</a>.</p> 
    <p class="footer__text text-center">All content &copy; copyright Design Club 2017, photos &copy; copyright <a href="http://joewatts.co" target="_blank">Joe Watts</a> 2017.</p>
  </footer>
</div>

{% include scripts.html %}