<div id="event" class="job-listing">
  <div class="job-listing__img" style="
    background: url(../img/jobs/{{ job_listing.company | downcase }}/{{ job_listing.company | downcase }}.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
  </div>
  <div class="job-listing__info text-center u-padding-Hm u-padding-Bm">
    <p class="text-x-small text-upper text-secondary">New!!!</p>
    <p class="text-x-small text-upper text-meta">{{ job_listing.role }}, {{ job_listing.company }}</p>
    <h2 class="text-base u-margin-Tm">{{ job_listing.title }}</h2>
    <p class="text-medium u-margin-Ts">{{ job_listing.lede }}</p>
    <a href="{{ job_listing.url }}" class="btn--secondary link-plain text-x-small text-upper u-margin-Tm">View opportunity</a>
  </div>
</div>
