<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDzYVvt5Cr__p52FerJz1DumYAu5eiLQhI&callback=initMap'></script>

<div style='overflow:hidden;'>
  <div id='gmap_canvas' style='max-width: 662px; height: 260px; text-align: center;'></div>
  <style>
    #gmap_canvas img{max-width:none!important;background:none!important}
  </style>
</div>

{% for post in site.posts limit:1 %}
  <script type='text/javascript'>

    // Coming from YAML front-matter of event
    var venueLat = {{ post.venueLat }};
    var venueLong = {{ post.venueLong }};
    var venueName = '{{ post.venueName }}';
    var venueAddress = '{{ post.venueAddress }}';

    function init_map() {
      var myOptions = {
        zoom: 15,
        center: new google.maps.LatLng(venueLat, venueLong),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
      marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(venueLat, venueLong)
      });

      infowindow = new google.maps.InfoWindow({
        content: '<strong>' + venueName + '<\/strong><br>' + venueAddress
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
      });

      infowindow.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', init_map);
  </script>
{% endfor %}
