<ul class="menu">
  <li class="u-margin-Rm"><a href="/" class="link-plain text-heavy">Home</a></li>
  <li class="u-margin-Rm"><a href="/events" class="link-plain text-heavy">Events</a></li>
  <li class="u-margin-Rm"><a href="/#blog" class="link-plain text-heavy">Blog</a></li>
  <li class="u-margin-Rm"><a href="/#partners" class="link-plain text-heavy">Partners</a></li>
  <li><a href="https://designclub.pallet.xyz/jobs" target="_blank" class="link-plain text-heavy">Jobs <span class="new-tag">New</span>&nbsp;&#8599;</a></li>
</ul>
