<div id="partners" class="container bg-secondary">
  <div class="next-event">
    <div class="next-event__about">
      <p class="text-white">Our partners</p>
      <div class="next-event__about--content">
        <h2 class="text-white u-margin-Bxs">TransferWise</h2>
        <p class="text-medium text-white">We're honored to have partnered with the fantastic folks over at <a href='https://transferwise.com/'>TransferWise</a>. They help us keep the tickets free, and the drinks flowing at the next event. Be sure to speak to them on the night, <a href='https://transferwise.com/jobs/'>they’re hiring</a>!</p>
      </div>
    </div>

    <div class="next-event__map bg-white">
      <img src="img/partners/transferwise.png" class="partners">
    </div>
  </div>
</div>
