<div id="partners" class="container bg-secondary">
  <div class="next-event">
    <div class="next-event__about">
      <p class="text-white">Our partners</p>
      <div class="next-event__about--content">
        <h2 class="text-white u-margin-Bxs">Our new best friends</h2>
        <p class="text-medium text-white">We're thrilled to have partnered with the awesome people at <a href='https://zeroheight.com' target="_blank">zeroheight</a> to keep tickets free, and the drinks flowing at the next event. Be sure to speak to them on the night, as <a href='https://careers.zeroheight.com/' target="_blank">they’re hiring</a>!</p>
      </div>
    </div>

    <div class="next-event__map bg-white">
      <img src="img/partners/zeroheight.svg" class="partners">
    </div>
  </div>
</div>
