<div class="container bg-secondary">
  <div class="next-event">
    <div class="next-event__about">
      <p class="text-white">Our sponsors</p>
      <div class="next-event__about--content">
        <h2 class="text-white u-margin-Bxs">Our new best friends</h2>
        <p class="text-medium text-white">To keep tickets free, and the drinks flowing, we’ve partnered with two of the most useful companies a designer could ever need. Check out <a href="https://marvelapp.com" target="_blank" class="link-invert">Marvel</a> for simple design, prototyping and collaboration; and <a href="https://superhi.com" target="_blank" class="link-invert">SuperHi</a>, who make learning to code easier.</p>
      </div>
    </div>

    <div class="next-event__map bg-white">
      {% include map.html %}
    </div>
  </div>
</div>