.bg-primary {
  background-color: $color-primary;
}

.bg-primary-light {
  background-color: $color-primary-light;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-secondary-light {
  background-color: $color-secondary-light;
}

.bg-base {
  background-color: $color-base;
}

.bg-base-light {
  background-color: $color-base-light;
}

.bg-white {
  background-color: white;
}