.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-base-light {
  background-color: $color-base-light;
}

.bg-white {
  background-color: white;
}