.event-status {
  display: inline-block;
  margin-top: 134px;
  padding: 0 $space-medium;
}

.event-status__logo {
  width: auto;
  height: 72px;
  float: left;
  margin-right: $space-small;
}

.event-status__date,
.event-status__venue,
.event-status__price,
.event-status__buy {
  float: left;
  height: 72px;
  line-height: 72px;
  padding: 0 $space-medium;
}

.event-status__date,
.event-status__venue,
.event-status__price {
  border-top: 2px solid $color-primary;
  border-bottom: 2px solid $color-primary;
}

.event-status__date,
.event-status__venue {
  border-right: 2px solid $color-primary;
}

.event-status__buy {
  font-size: $text-medium;
  background-color: $color-secondary;
  color: white;
  margin-left: $space-small;
}

@media screen and (max-width: $width-medium) {
  .event-status {
    margin: $space-x-large 0;
  }

  .event-status__date,
  .event-status__venue,
  .event-status__price {
    display: none;
  }

  .event-status__buy {
    margin: 0;
  }
}
