@font-face {
  font-family: 'CircularStd-Bold';
  src: url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Bold.eot');
  src: url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Bold.woff2') format('woff2'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Bold.woff') format('woff'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Bold.ttf') format('truetype'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Book.eot');
  src: url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Book.woff2') format('woff2'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Book.woff') format('woff'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Book.ttf') format('truetype'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Book.svg#CircularStd-Book') format('svg'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
