@font-face {
  font-family: 'GTWalsheimRegular';
  src: url('http://designclub.io/fonts/GTWalsheimRegular.eot');
  src: url('http://designclub.io/fonts/GTWalsheimRegular.woff2') format('woff2'),
       url('http://designclub.io/fonts/GTWalsheimRegular.woff') format('woff'),
       url('http://designclub.io/fonts/GTWalsheimRegular.ttf') format('truetype'),
       url('http://designclub.io/fonts/GTWalsheimRegular.svg#GTWalsheimRegular') format('svg'),
       url('http://designclub.io/fonts/GTWalsheimRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimMedium';
  src: url('http://designclub.io/fonts/GTWalsheimMedium.eot');
  src: url('http://designclub.io/fonts/GTWalsheimMedium.woff2') format('woff2'),
       url('http://designclub.io/fonts/GTWalsheimMedium.woff') format('woff'),
       url('http://designclub.io/fonts/GTWalsheimMedium.ttf') format('truetype'),
       url('http://designclub.io/fonts/GTWalsheimMedium.svg#GTWalsheimMedium') format('svg'),
       url('http://designclub.io/fonts/GTWalsheimMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
