.hero,
.hero--end {
  width: 100%;
  height: 420px;
  z-index: -1;
  background: url(../img/hero-image.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: $width-medium) {
  .hero {
    position: relative;
    height: 300px;
    height: auto;
    z-index: 0;
  }
}

.hero--end {
  background: url(../img/hero2-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: $width-mobile) {
  .hero--end {
    background: url(../img/hero2-image.jpg) no-repeat -440px center;
  }
}

.hero--end__inner {
  padding: 0 $space-medium;
  padding-top: 118px;
}