input {
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
  border-radius: 0;
}

input[type=email],
input[type=text],
textarea {
  width: 318px;
  height: 46px;
  background-color: white;
  border: none;
  padding: 0 $space-small;
  margin: 0 auto;
  font-size: $text-medium;
  color: $color-base;
}

@media screen and (max-width: $width-medium) {
  input[type=email],
  input[type=text],
  textarea {
    width: 280px;
  }
}

@media screen and (max-width: $width-mobile) {
  input[type=email],
  input[type=text],
  textarea {
    width: 220px;
    padding-left: 0;
  }
}

@media screen and (max-width: $width-tiny) {
  input[type=email],
  input[type=text],
  textarea {
    width: 175px;
  }
}

input[type=submit] {
  -webkit-appearance: none;
  background: none;
}

input:focus {
  outline: 0;
}

input:active {
  background-color: white;
}

.input--email {
  float: left;
  margin-right: $space-small !important;
}

input[type=submit] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $color-secondary;
  color: white;
  height: 46px;
  float: right;
  padding: 0 $space-medium;
}
