.job-listing {
  margin-bottom: $space-large;
  padding: $space-large 0 0 0;
  border-top: 1px solid $color-meta-light;
  overflow: auto;
}

@media screen and (max-width: $width-medium) {
  .job-listing {
    margin-bottom: $space-medium;
  }
}

@media screen and (max-width: $width-mobile) {
  .job-listing {
    padding: $space-medium 0 0 0;
    margin-left: $space-small;
    margin-right: $space-small;
    margin-bottom: $space-small;
  }
}

.job-listing__img {
  position: relative;
  float: left;
  width: 50%;
  height: 320px;
  background-color: $color-base;
}

.job-listing__info {
  position: relative;
  float: right;
  width: calc(50% - 20px);
  height: 320px;
}

@media screen and (max-width: $width-medium) {
  .job-listing__img,
  .job-listing__info {
    float: none;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .job-listing__img {
    margin-bottom: $space-medium;
  }

  .job-listing__info {
    height: auto;
  }
}

.job-listing__logo {
  width: 40px;
  height: auto;
}

.job-listing__box {
  border: 1px solid $color-primary;
  padding: $space-medium;
}

.job-listing__box--cta {
  border-right: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  border-left: 1px solid $color-primary;
  padding: $space-medium;
  overflow: hidden;
  height: auto;
}

.job-listing__box--description {
  width: calc(100% - 153px);
  margin-right: $space-small;
}

.job-listing__box--apply {
  width: 143px;
  float: right;
}

@media screen and (max-width: $width-mobile) {
  .job-listing__box--description {
    width: 100%;
    margin: 0;
    margin-bottom: $space-small !important;
  }

  .job-listing__box--apply {
    width: 100%;
    float: none;
  }
}