.u-margin-Txl {
  margin-top: $space-x-large;
  transition: all .15s; // animate breakpoints
}

.u-margin-Tl {
  margin-top: $space-large;
}

.u-margin-Tm {
  margin-top: $space-medium;
}

.u-margin-Ts {
  margin-top: $space-small;
}

.u-margin-Rxl {
  margin-right: $space-x-large;
}

.u-margin-Rl {
  margin-right: $space-large;
}

.u-margin-Rm {
  margin-right: $space-medium;
}

.u-margin-Rs {
  margin-right: $space-small;
}

.u-margin-Bxl {
  margin-bottom: $space-x-large;
}

.u-margin-Bl {
  margin-bottom: $space-large;
}

.u-margin-Bm {
  margin-bottom: $space-medium;
}

.u-margin-Bs {
  margin-bottom: $space-small;
}

.u-margin-Lxl {
  margin-left: $space-x-large;
}

.u-margin-Ll {
  margin-left: $space-large;
}

.u-margin-Lm {
  margin-left: $space-medium;
}

.u-margin-Ls {
  margin-left: $space-small;
}

.u-margin-Vxl {
  margin-top: $space-x-large;
  margin-bottom: $space-x-large;
}

.u-margin-Vl {
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.u-margin-Vm {
  margin-top: $space-medium;
  margin-bottom: $space-medium;
}

.u-margin-Vs {
  margin-top: $space-small;
  margin-bottom: $space-small;
}

.u-margin-Hxl {
  margin-left: $space-x-large;
  margin-right: $space-x-large;
}

.u-margin-Hl {
  margin-left: $space-large;
  margin-right: $space-large;
}

.u-margin-Hm {
  margin-left: $space-medium;
  margin-right: $space-medium;
}

.u-margin-Hs {
  margin-left: $space-small;
  margin-right: $space-small;
}

.u-margin-Axl {
  margin-top: $space-x-large;
  margin-right: $space-x-large;
  margin-bottom: $space-x-large;
  margin-left: $space-x-large;
}

.u-margin-Al {
  margin-top: $space-large;
  margin-right: $space-large;
  margin-bottom: $space-large;
  margin-left: $space-large;
}

.u-margin-Am {
  margin-top: $space-medium;
  margin-right: $space-medium;
  margin-bottom: $space-medium;
  margin-left: $space-medium;
}

.u-margin-As {
  margin-top: $space-small;
  margin-right: $space-small;
  margin-bottom: $space-small;
  margin-left: $space-small;
}

.u-margin-An {
  margin: 0 !important;
}
