.u-padding-Txl {
  padding-top: $space-x-large;
  transition: all .15s; // animate breakpoints
}

.u-padding-Tl {
  padding-top: $space-large;
}

.u-padding-Tm {
  padding-top: $space-medium;
}

.u-padding-Ts {
  padding-top: $space-small;
}

.u-padding-Rxl {
  padding-right: $space-x-large;
}

.u-padding-Rl {
  padding-right: $space-large;
}

.u-padding-Rm {
  padding-right: $space-medium;
}

.u-padding-Rs {
  padding-right: $space-small;
}

.u-padding-Bxl {
  padding-bottom: $space-x-large;
}

.u-padding-Bl {
  padding-bottom: $space-large;
}

.u-padding-Bm {
  padding-bottom: $space-medium;
}

.u-padding-Bs {
  padding-bottom: $space-small;
}

.u-padding-Lxl {
  padding-left: $space-x-large;
}

.u-padding-Ll {
  padding-left: $space-large;
}

.u-padding-Lm {
  padding-left: $space-medium;
}

.u-padding-Ls {
  padding-left: $space-small;
}

.u-padding-Vxl {
  padding-top: $space-x-large;
  padding-bottom: $space-x-large;
}

.u-padding-Vl {
  padding-top: $space-large;
  padding-bottom: $space-large;
}

.u-padding-Vm {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
}

.u-padding-Vs {
  padding-top: $space-small;
  padding-bottom: $space-small;
}

.u-padding-Hxl {
  padding-left: $space-x-large;
  padding-right: $space-x-large;
}

.u-padding-Hl {
  padding-left: $space-large;
  padding-right: $space-large;
}

.u-padding-Hm {
  padding-left: $space-medium;
  padding-right: $space-medium;
}

.u-padding-Hs {
  padding-left: $space-small;
  padding-right: $space-small;
}

.u-padding-Axl {
  padding-top: $space-x-large;
  padding-right: $space-x-large;
  padding-bottom: $space-x-large;
  padding-left: $space-x-large;
}

.u-padding-Al {
  padding-top: $space-large;
  padding-right: $space-large;
  padding-bottom: $space-large;
  padding-left: $space-large;
}

.u-padding-Am {
  padding-top: $space-medium;
  padding-right: $space-medium;
  padding-bottom: $space-medium;
  padding-left: $space-medium;
}

.u-padding-As {
  padding-top: $space-small;
  padding-right: $space-small;
  padding-bottom: $space-small;
  padding-left: $space-small;
}

.u-padding-An {
  padding: 0 !important;
}
