h1 {
  font-family: $font-primary-bold;
  font-size: $text-x-large;
  font-weight: normal;
  line-height: $line-height-large;
  color: $color-primary;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: $width-mobile) {
  h1 {
    font-size: $text-large;
    line-height: $line-height-large;
    color: $color-primary;
  }
}

h2 {
  font-family: $font-primary-bold;
  font-size: $text-large;
  font-weight: normal;
  line-height: $line-height-large;
  color: $color-primary;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: $width-mobile) {
  h2 {
    font-size: $text-medium;
    line-height: $line-height-medium;
  }
}

h3 {
  font-family: $font-primary-bold;
  font-size: $text-medium;
  font-weight: normal;
  line-height: $line-height-medium;
  color: $color-primary;
  margin: 0;
}

.text-large {
  font-family: $font-primary;
  font-size: $text-large;
  line-height: $line-height-large;
  color: $color-base;
  margin: 0;
}

@media screen and (max-width: $width-mobile) {
  .text-large {
    font-size: $text-medium;
    line-height: $line-height-medium;
  }
}

.text-medium {
  font-family: $font-primary;
  font-size: $text-medium;
  font-weight: normal;
  line-height: $line-height-medium;
  color: $color-base;
  margin: 0;
}

.text-body {
  font-family: $font-primary;
  font-size: $text-small;
  line-height: $line-height-small;
  color: $color-base;
  margin: 0;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-white {
  color: white;
}

.text-heavy {
  font-family: $font-primary-bold;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}