@import "fonts";
$font-primary: 'CircularStd-Book', 'Helvetica Neue', 'Helvetica', arial;
$font-primary-bold: 'CircularStd-Bold', 'Helvetica Neue', 'Helvetica', arial;

$font-weight-normal: 400;
$font-weight-heavy: 700;

$text-x-large: 42px;
$text-large: 32px;
$text-medium: 24px;
$text-small: 18px;
$text-x-small: 14px;

$line-height-x-large: 52px;
$line-height-large: 44px;
$line-height-medium: 32px;
$line-height-small: 26px;
$line-height-x-small: 18px;

$space-x-large: 80px;
$space-large: 40px;
$space-medium: 20px;
$space-small: 12px;

$color-base: #333333;
$color-base-light: #F8F8F8;
$color-primary: #EE6850;
$color-primary-light: #FDEFED;
$color-secondary: #4083FF;
$color-secondary-light: #ECF3FF;

$width-mobile: 480px;
$width-small: 680px;
$width-medium: 860px;
$width-full: 1280px;
