@import "fonts";
$font-primary: 'GTWalsheimRegular', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-primary-bold: 'GTWalsheimMedium', 'Helvetica Neue', 'Helvetica', arial, sans-serif;

$font-weight-normal: 400;
$font-weight-heavy: 700;

$text-x-large: 30px;
$text-large: 26px;
$text-medium: 18px;
$text-small: 14px;

$line-height-large: 36px;
$line-height-medium: 26px;
$line-height-small: 20px;

$space-x-large: 80px;
$space-large: 40px;
$space-medium: 20px;
$space-small: 10px;
$space-x-small: 5px;

$color-base: #333333;
$color-base-light: #F8F8F8;
$color-primary: #0043FF;
$color-primary-light: #DBE3FF;
$color-secondary: #F25B00;
$color-secondary-light: #FDDED0;

$width-mobile: 480px;
$width-small: 768px;
$width-medium: 768px;
$width-full: 1280px;
