.welcome-text {
  margin-bottom: $space-x-large;
  padding: 0 $space-medium;
}

.welcome-text__header {
  margin: 0 auto;
  max-width: 620px;
}

.welcome-text__body {
  margin: 0 auto;
  max-width: 920px;
}
