---
layout: default
---

<div class="bg-white text-center">
  <div class="u-padding-Vm">
    {% include menu.html %}
  </div>
  <div class="welcome-text">
    <h1 class="welcome-text__header text-center u-margin-Bm">What's next for you?</h1>
    <p class="welcome-text__body--secondary text-large text-center">Hand-picked opportunities to help you leap forward in your career.</p>
    <a href="/jobs/post" class="btn link-invert--plain text-x-small u-margin-Tm">
      POST A ROLE<br>
      <span style="opacity:0.7;">From £100 a month</span>
    </a>
    <div class="text-x-small u-margin-Ts"><a href="/jobs/post">Learn more</a></div>
  </div>
</div>

<div id="trigger-header" class="site-wrapper">

  {% assign sorted_job_listings = (site.job_listings | sort: 'date') | reverse %}
  {% for job_listing in sorted_job_listings %}
    {% include job-listing.html %}
  {% endfor %}

  {% include mailing-list.html %}
</div>
