---
title: "Design Club"
---

<div class="hero">
  <img src="img/logo@2x.png" class="hero__logo">
  
  <div class="hero__event">
    <span class="u-text-heavy">Next event&mdash;<br>
    30 June 2016</span><br><br>
    Protein, Shoreditch<br>
    Doors 6:45pm<br>
    Free Entry<br><br>
    <a href="https://www.eventbrite.co.uk/e/design-club-2-tickets-26136393657" target="_blank" class="u-text-heavy">Get tickets &rarr;</a>
  </div>
</div>

<div class="main">
  <div class="container container__push">

    <div class="section" id="about">
      <h2 class="u-text-center">Where the creative community figure out what's next.<br><br>
      Every other month Design Club brings together designers of all disciplines and experience for drinks, good times, and original talks from leaders in our field. Speakers are urged to share candidly about their work, careers, and distinct perspectives on the industry. Events are free, and held in great locations around East London.</h2>
    </div>

    <div class="section" id="speakers">
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          The speakers
        </div>
      </div>

      <div class="section__inner">
        <div class="section--speaker">
          <div class="section--speaker__img">
            <img src="img/speakers/2/tom.jpg">
          </div>
          <div class="section--speaker__bio">
            <span class="u-text-heavy">Tom Blomfield</span>&thinsp;&mdash;&thinsp;<a href="http://twitter.com/t_blom" target="_blank">@t_blom</a><br>
            CEO and Founder, Mondo<br><br>
            Tom is CEO and co-founder of Mondo&thinsp;&mdash;&thinsp;a new smartphone-based bank. Mondo broke records in March 2016, raising £1m of crowdfunding in 96 seconds. Tom previously founded GoCardless, a fintech startup that has gone on to raise $25m. He’ll be sharing the stage with Hugo to talk about building a design-led business.
          </div>
        </div>
        <div class="section--speaker">
          <div class="section--speaker__img">
            <img src="img/speakers/2/hugo.jpg">
          </div>
          <div class="section--speaker__bio">
            <span class="u-text-heavy">Hugo Cornejo</span>&thinsp;&mdash;&thinsp;<a href="http://twitter.com/@hugocornejo" target="_blank">@hugocornejo</a><br>
            Head of Design, Mondo<br><br>
            Hugo has been part of Mondo since the beginning, defining the design principles that shape an easy to use, yet powerful, bank and ‘home screen app’. Back in Spain he helped big corporations (BBVA, Globalia) and startups (Ticketea, Chicisimo) to design world-class customer experiences.
          </div>
        </div>
        <div class="section--speaker">
          <div class="section--speaker__img">
            <img src="img/speakers/2/alexis.jpg">
          </div>
          <div class="section--speaker__bio">
            <span class="u-text-heavy">Alexis Cuddyre</span>&thinsp;&mdash;&thinsp;<a href="https://twitter.com/@omgimmarried" target="_blank">@omgimmarried</a><br>
            Head of Creative and Brand, ADAY<br><br>
            Previously Creative Director at Brand Union and co-founder of Bespoky, Alexis runs Brand and Creative at technical apparel startup, ADAY. Having recently moved to New York, she’ll be sharing her experiences of scaling a contemporary retail business in a tough market and what it means to create a new genre of clothing.
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="sponsor"> 
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          The sponsor
        </div>
      </div>

      <div class="section__inner">
        <img src="img/marvel-logo.svg" class="company-logo u-center u-margin-Tl u-margin-Bl">

        <div class="section__inner--short-line u-center">
          We're thrilled to be sponsored by Marvel&thinsp;&mdash;&thinsp;a simple design and prototyping tool that's loved by some of the world’s best product designers, and powers collaborative innovation at the likes of Deliveroo, ustwo, and Transferwise.<br><br>
          Try Marvel for free right now by clicking <a href="https://marvelapp.com" target="_blank">here</a>, or check out how others are already using it <a href="https://marvelapp.com/stories" target="_blank">here</a>.
        </div>
      </div>
    </div>

    <div class="section" id="venue">
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          The venue
        </div>
      </div>
      
      <div class="section__inner">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:300px;max-width:652px;'><div id='gmap_canvas' style='height:300px;max-width:652px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(51.5246708,-0.07824240000002192),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.5246708,-0.07824240000002192)});infowindow = new google.maps.InfoWindow({content:'<strong>Protein Studios</strong><br>31 New Inn Yard, London EC2A 3EY<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

        <img src="img/protein-studios-logo.svg" class="company-logo u-center u-margin-Tl">

        <div class="section__inner--short-line u-center u-margin-Tl">
          This event will be held at the awesome Protein Studios space in central Shoreditch. Please bring tickets either on your phone or printed and try to arrive by 7:00pm. Latecomers may not be admitted.<br><br>
        </div>
      </div>
    </div>

    <div class="section" id="mailing-list">
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          Mailing list
        </div>
      </div>

      <div class="section__inner">
        <div class="section__inner--short-line u-center u-margin-Bm">
          We announce tickets for each event by email first, so sign up to make sure you get in!
        </div>
        <!-- Begin MailChimp Signup Form -->
        <div class="mailing-list u-cf">
          <form action="//designclub.us13.list-manage.com/subscribe/post?u=1cfd854f7823c5a35858feca3&amp;id=6a68b2ae22" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" placeholder="email@address.com" name="EMAIL" 
            class="required email u-pull-start" id="mce-EMAIL">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    
            <!-- real people should not fill this in and expect good things - 
            do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_1cfd854f7823c5a35858feca3_6a68b2ae22" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" 
              id="mc-embedded-subscribe" class="button">
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>

  </div>
</div>