---
title: "Design Club"
---

<div class="hero">
  <img src="img/logo@2x.png" class="hero__logo">
  
  <div class="hero__event">
    <span class="u-text-heavy">Next event&mdash;<br>
    26 April 2016</span><br><br>
    WeWork Moorgate<br>
    Doors 6:45pm<br>
    Free Entry<br><br>
    <a href="https://www.eventbrite.co.uk/e/design-club-1-tickets-24716049369" 
    target="_blank" class="u-text-heavy">Get free tickets &rarr;</a>
  </div>
</div>

<div class="main">
  <div class="container container__push">

    <div class="section" id="about">
      <h2 class="u-text-center">Where the creative community figure out what's next.<br><br>
      Every other month Design Club brings together designers of all disciplines and experience for drinks, good times, and original talks from leaders in our field. Speakers are urged to share candidly about their work, careers, and distinct perspectives on the industry. Events are free, and held in great locations around East London.</h2>
    </div>

    <div class="section" id="speakers">
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          The speakers
        </div>
      </div>

      <div class="section__inner">
        <div class="section--speaker">
          <div class="section--speaker__img">
            <img src="img/speakers/1/jeff-veen.jpeg">
          </div>
          <div class="section--speaker__bio">
            <span class="u-text-heavy">Jeff Veen</span>&thinsp;&mdash;&thinsp;<a href="http://twitter.com/veen" target="_blank">@veen</a><br>
            Design Partner, True Ventures<br><br>
            Jeff is a Design Partner at True Ventures. Before that, he was VP of Design at Adobe, CEO of Typekit, and founder of Adaptive Path. With experience in agencies, start-ups, tech behemoths and now the world of venture capital, Jeff brings a hard won perspective on every aspect of the design industry.
          </div>
        </div>
        <div class="section--speaker">
          <div class="section--speaker__img">
            <img src="img/speakers/1/mat-heinl.jpeg">
          </div>
          <div class="section--speaker__bio">
            <span class="u-text-heavy">Mat Heinl</span>&thinsp;&mdash;&thinsp;<a href="https://twitter.com/H3INL" target="_blank">@H3INL</a><br>
            CEO, Moving Brands<br><br>
            Mat Heinl is the CEO of global creative company, Moving Brands. He joined 12 years ago, moving through the ranks with iconic work for the likes of Norton & Sons, Swisscom, HP, and the BBC. He'll be sharing his experience, and talking about the realities of bringing big, complex things into the world.
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="sponsor"> 
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          The sponsor
        </div>
      </div>

      <div class="section__inner">
        <img src="img/marvel-logo.svg" class="company-logo u-center u-margin-Tl u-margin-Bl">

        <div class="section__inner--short-line u-center">
          We're thrilled to be sponsored by Marvel&thinsp;&mdash;&thinsp;a simple design and prototyping tool that's loved by some of the world’s best product designers, and powers collaborative innovation at the likes of Deliveroo, ustwo, and Transferwise.<br><br>
          Try Marvel for free right now by clicking <a href="https://marvelapp.com" target="_blank">here</a>, or check out how others are already using it <a href="https://marvelapp.com/stories" target="_blank">here</a>.
        </div>
      </div>
    </div>

    <div class="section" id="venue">
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          The venue
        </div>
      </div>
      
      <div class="section__inner">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:300px;max-width:652px;'><div id='gmap_canvas' style='height:300px;max-width:652px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(51.5181045,-0.09048699999993914),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.5181045,-0.09048699999993914)});infowindow = new google.maps.InfoWindow({content:'<strong>WeWork Moorgate</strong><br>1 Fore St, London EC2Y 5EJ<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

        <img src="img/wework-logo.svg" class="company-logo u-center u-margin-Tl">

        <div class="section__inner--short-line u-center u-margin-Tl">
          This event will be held at the awesome WeWork space in Moorgate, just south of Old Street. Please bring tickets either on your phone or printed and try to arrive by 7:00pm. Latecomers may not be admitted.<br><br>
          WeWork is the platform for creators. They provide the space, community and services you need to create your life’s work. To learn more send an email to <a href="mailto:joinuslondon@wework.com">joinuslondon@wework.com</a> or call 0203 695 4926.
        </div>
      </div>
    </div>

    <div class="section" id="mailing-list">
      <hr>
      <div class="section-divider">
        <div class="section-divider__heading">
          Mailing list
        </div>
      </div>

      <div class="section__inner">
        <div class="section__inner--short-line u-center u-margin-Bm">
          We announce tickets for each event by email first, so sign up to make sure you get in!
        </div>
        <!-- Begin MailChimp Signup Form -->
        <div class="mailing-list u-cf">
          <form action="//designclub.us13.list-manage.com/subscribe/post?u=1cfd854f7823c5a35858feca3&amp;id=6a68b2ae22" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" placeholder="email@address.com" name="EMAIL" 
            class="required email u-pull-start" id="mce-EMAIL">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    
            <!-- real people should not fill this in and expect good things - 
            do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_1cfd854f7823c5a35858feca3_6a68b2ae22" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" 
              id="mc-embedded-subscribe" class="button">
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>

  </div>
</div>