---
layout: default
---

<div class="site-wrapper site-wrapper--job u-margin-Vxl">
  <div class="text-center">
    <img src="/img/jobs/{{ page.company }}/{{ page.company }}.jpg">
    <h2>{{ page.role }}, {{ page.company }}</h2>
    <p class="text-x-small text-meta text-upper">
      {{ page.type }}&nbsp;&nbsp;|&nbsp;&nbsp;
      {{ page.location }}&nbsp;&nbsp;|&nbsp;&nbsp;
      {{ page.salary }}
    </p>
    <img src="/img/jobs/{{ page.company }}/{{ page.image }}.jpg">
  </div>
  <div class="text-medium">
    {{ content }}
  </div>
</div>