* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-dark;
  background-color: $color-background;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  margin-top: 100vh;
  background-color: $color-light;
  box-shadow: 0px -20px 60px 0px rgba(30,30,30,0.1);
}

@media screen and (max-width: 500px) {
  .main {
    margin-top: 0;
  }
}

.footer {
  width: 100%;
  position: absolute;
  background-color: $color-background;
}