button {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}

.button,
a.button, {
  height: 46px;
  padding: 0px 15px;
  border: 0;
  background: black !important;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: all 0.15s ease-in-out;
  margin-top: 12px;
}

a.button {
  display: inline-block;
}

.button:hover {
  background: $color-background !important;
}
