@font-face {
  font-family: 'Whitney-light';
  font-style: normal;
  font-weight: 200;
  src: url('http://designclub.io/fonts/Whitney-light.woff') format('woff'),
       url('http://designclub.io/fonts/Whitney-light.ttf') format('truetype'),
}

@font-face {
  font-family: 'Whitney-book';
  font-style: normal;
  font-weight: 300;
  src: url('http://designclub.io/fonts/Whitney-book.woff') format('woff'),
       url('http://designclub.io/fonts/Whitney-book.ttf') format('truetype'),
}

@font-face {
  font-family: 'Whitney-bold';
  font-style: bold;
  font-weight: 700;
  src: url('http://designclub.io/fonts/Whitney-bold.woff') format('woff'),
       url('http://designclub.io/fonts/Whitney-bold.ttf') format('truetype'),
}