.header {
  position: fixed;
  top: 0px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 10;
  background: -moz-linear-gradient(top, rgba(30,30,30,1) 1%, rgba(30,30,30,1) 60%, rgba(30,30,30,0.41) 90%, rgba(30,30,30,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(30,30,30,1)), color-stop(60%,rgba(30,30,30,1)), color-stop(90%,rgba(30,30,30,0.41)), color-stop(100%,rgba(30,30,30,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(30,30,30,1) 1%,rgba(30,30,30,1) 60%,rgba(30,30,30,0.41) 90%,rgba(30,30,30,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(30,30,30,1) 1%,rgba(30,30,30,1) 60%,rgba(30,30,30,0.41) 90%,rgba(30,30,30,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(30,30,30,1) 1%,rgba(30,30,30,1) 60%,rgba(30,30,30,0.41) 90%,rgba(30,30,30,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(30,30,30,1) 1%,rgba(30,30,30,1) 60%,rgba(30,30,30,0.41) 90%,rgba(30,30,30,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#001e1e1e',GradientType=0 ); /* IE6-9 */
}

.header__offset {
  margin-right: -44px;
}

@media screen and (max-width: 500px) {
  .header__offset {
    margin: 0;
  }
}

.header__logo {
  width: 60px;
}

.header__menu {
  position: relative;
  top: -15px;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .header__menu {
    display: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -1000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }

  75% {
    transform: translate3d(0, -2px, 0);
  }

  90% {
    transform: translate3d(0, 2px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation: bounceInDown 1s;
  display: none;
}
