.hero {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(/../img/top-bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .hero {
    position: relative;
    height: auto;
    padding-bottom: 22px;
  }
}

.hero__logo {
  position: fixed;
  max-width: 800px;
  top: 50%;
  left: 50%;
  padding: 60px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .hero__logo {
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    -webkit-transform: initial;
    -moz-transform: initial;
    -o-transform: initial;
    transform: initial;
    top: initial;
    right: 0;
    left: 0;
    padding: 60px 5px 0 5px;
  }
}

.hero__event {
  position: fixed;
  top: 46%;
  right: 21%;
  padding: 50px;
  border: 3px solid $color-dark;
}

@media screen and (max-width: 900px) {
  .hero__event {
    right: 5%;
  }
}

@media screen and (max-height: 460px) {
  .hero__event {
    top: 20%;
  }
}

@media screen and (max-width: 500px) {
  .hero__event {
    position: relative;
    max-width: 100%;
    height: auto;
    top: 20px;
    right: 0;
    left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 43%;
    text-align: center;
  }
}
