input {
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
  border-radius: 0;
}

input[type=email],
input[type=text],
textarea {
  width: 300px;
  background-color: white;
  border: 1px solid black;
  padding: 0px 15px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 46px;
  font-family: $font-primary;
  font-size: 16px;
  color: $color-dark;
}

input[type=submit] {
  -webkit-appearance: none;
  background: none;
}

input:focus {
  outline: 0;
}

input:active {
  background-color: $color-middle;
}

@media screen and (max-width: 500px) {
  input[type=email],
  input[type=text] {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
  }
}