.section {
  padding-top: 48px;
  text-align: center;
}

.section:last-of-type {
  padding-bottom: 48px;
}

@media screen and (max-width: 960px) {
  .section {
    padding-top: 48px;
  }
}

@media screen and (max-width: 500px) {
  .section {
    padding-top: 48px;
  }
}

.section-divider {
  position: absolute;
  left: 50%;
  margin-top: -23px;
}

.section-divider__heading {
  position: relative;
  left: -50%;
  padding: 0 12px;
  background-color: $color-light; 
}

.section__inner {
  margin-top: 24px;
  padding: 24px;
  background-color: white;
}

.section__inner--short-line {
  width: 66.66%;
}

@media screen and (max-width: 500px) {
  .section__inner--short-line {
    width: 100%;
  }
}

.section--speaker {
  margin-bottom: 24px;
  padding-bottom: 21px; // less because inline-block adds space
  border-bottom: 1px solid $color-background;
  text-align: left;
}

.section--speaker:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

@media screen and (max-width: 680px) {
  .section--speaker {
    text-align: center;
  }
}

.section--speaker__img {
  max-width: 170px !important;
  margin-right: 21px; // less because inline-block adds space
  display: inline-block;
}

@media screen and (max-width: 680px) {
  .section--speaker__img {
    margin: 0 auto;
    display: block;
  }
}

.section--speaker__bio {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px // to get bottom row of type lined up with bottom of image
}

@media screen and (max-width: 680px) {
  .section--speaker__bio {
    width: 100%;
  }
}