// LAYOUT

.u-cf {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.u-pull-start {
  float: left;
}

.u-pull-end {
  float: right;
}

.u-relative {
  position: relative;
}

.u-block {
  display: block;
}

.u-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

.u-align-top {
  vertical-align: top;
}

.u-align-middle {
  vertical-align: middle;
}

.u-align-baseline {
  vertical-align: baseline;
}

.u-align-bottom {
  vertical-align: bottom;
}

// SIZE
// Margin

.u-margin-Txl {
  margin-top: $xlarge-space;
}

.u-margin-Tl {
  margin-top: $large-space;
}

.u-margin-Tm {
  margin-top: $medium-space;
}

.u-margin-Ts {
  margin-top: $small-space;
}

.u-margin-Rxl {
  margin-right: $xlarge-space;
}

.u-margin-Rl {
  margin-right: $large-space;
}

.u-margin-Rm {
  margin-right: $medium-space;
}

.u-margin-Rs {
  margin-right: $small-space;
}

.u-margin-Bxl {
  margin-bottom: $xlarge-space;
}

.u-margin-Bl {
  margin-bottom: $large-space;
}

.u-margin-Bm {
  margin-bottom: $medium-space;
}

.u-margin-Bs {
  margin-bottom: $small-space;
}

.u-margin-Lxl {
  margin-left: $xlarge-space;
}

.u-margin-Ll {
  margin-left: $large-space;
}

.u-margin-Lm {
  margin-left: $medium-space;
}

.u-margin-Ls {
  margin-left: $small-space;
}

// Padding

.u-padding-Tl {
  padding-top: $large-space;
}

.u-padding-Tm {
  padding-top: $medium-space;
}

.u-padding-Ts {
  padding-top: $small-space;
}

.u-padding-Rl {
  padding-right: $large-space;
}

.u-padding-Rm {
  padding-right: $medium-space;
}

.u-padding-Rs {
  padding-right: $small-space;
}

.u-padding-Bl {
  padding-bottom: $large-space;
}

.u-padding-Bm {
  padding-bottom: $medium-space;
}

.u-padding-Bs {
  padding-bottom: $small-space;
}

.u-padding-Ll {
  padding-left: $large-space;
}

.u-padding-Lm {
  padding-left: $medium-space;
}

.u-padding-Ls {
  padding-left: $small-space;
}

// WIDTH

.u-size-1of2 {
  width: 50%;
}

.u-size-1of3 {
  width: 33.3333%;
}

.u-size-2of3 {
  width: 66.6667%;
}

// COLOR


// TYPOGRAPHY

.u-text-no-smoothing {
  -webkit-font-smoothing: subpixel-antialiased;
}

.u-text-normal {
	font-weight: 400;
}

.u-text-small {
  font-size: 14px;
  line-height: 24px;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-italic {
  font-family: $font-headline;
  font-style: italic;
}

.u-text-upper {
  text-transform: uppercase;
}

// LINKS