@import "fonts";

$font-primary-light: 'Whitney-light', 'Helvetica Neue', 'Helvetica', arial;
$font-primary: 'Whitney-book', 'Helvetica Neue', 'Helvetica', arial;
$font-primary-bold: 'Whitney-bold', 'Helvetica Neue', 'Helvetica', arial;

$color-dark: #222222;
$color-light: #F7F7F7;
$color-background: #96E1D8;
$color-highlight: #F42B5A;
$color-middle: #F8F8F8;

$xlarge-space: 60px;
$large-space: 20px;
$medium-space: 10px;
$small-space: 5px;