$font-primary: 'brandontext';
$font-headline: 'brandontext';
$font-quote: 'brandontext';
$font-meta: 'brandontext';

$color-dark: #1E1E1E;
$color-middle: #F8F8F8;
$color-light: #FFFFFF;
$color-highlight: yellow;

$xlarge-space: 60px;
$large-space: 20px;
$medium-space: 10px;
$small-space: 5px;